<!DOCTYPE html>
<html>
<head>
    <title>Editar Doctor</title>
    <style>
        body {
            background-color: #e0f7fa;
            text-align: center;
            padding: 50px;
        }

        form {
            display: inline-block;
            text-align: left;
            margin: 0 auto;
            width: 50%; /* Ajusta el ancho del formulario según tus preferencias */
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, select {
            margin-bottom: 15px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }

        .guardar-btn {
            background-color: #4caf50; /* Verde */
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .cancelar-btn {
            background-color: #ff5252; /* Rojo */
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
    </style>
    <script>
        var cambiosRealizados = false;

        function confirmarGuardar() {
            if (cambiosRealizados) {
                return confirm("¿Estás seguro de que quieres guardar los cambios?");
            }
            return true;
        }

        function confirmarCancelar() {
            if (cambiosRealizados) {
                return confirm("¿Estás seguro de que quieres cancelar? Los cambios no se guardarán.");
            }
            return true;
        }

        document.addEventListener("DOMContentLoaded", function() {
            var formElements = document.querySelectorAll("input, select");
            formElements.forEach(function(element) {
                element.addEventListener("input", function() {
                    cambiosRealizados = true;
                });
            });
        });
    </script>
</head>
<body>
    <h1>Editar Doctor</h1>
    <form method="POST" onsubmit="return confirmarGuardar()">
        <label for="fullname">Nombre Completo:</label>
        <input type="text" name="fullname" value="{{ doctor.fullname }}" required><br>

        <label for="phone">Número de Teléfono:</label>
        <input type="text" name="phone" value="{{ doctor.phone }}" required><br>

        <label for="email">Correo Electrónico:</label>
        <input type="email" name="email" value="{{ doctor.email }}" required><br>

        <label for="especialidad">Especialidad:</label>
        <select name="especialidad" required>
            <option value="Especialidad 1" {% if doctor.especialidad == 'Especialidad 1' %}selected{% endif %}>Especialidad 1</option>
            <option value="Especialidad 2" {% if doctor.especialidad == 'Especialidad 2' %}selected{% endif %}>Especialidad 2</option>
            <option value="Especialidad 3" {% if doctor.especialidad == 'Especialidad 3' %}selected{% endif %}>Especialidad 3</option>
        </select><br>

        <input class="guardar-btn" type="submit" value="Guardar">
    </form>
    <br>
    <a href="{{ url_for('listar_doctores') }}" class="cancelar-btn" onclick="return confirmarCancelar()">Cancelar</a>
</body>
</html>
