<!DOCTYPE html>
<html>
<head>
    <title>Listar Doctores</title>
    <style>
        body {
            background-color: #e0f7fa;
            text-align: center;
            padding: 50px;
        }

        .message {
            font-size: 18px;
            margin-bottom: 20px;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #2196F3; /* Azul */
            color: white;
        }

        .btn {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .regresar-btn {
            background-color: #4caf50; /* Verde */
            color: white;
        }

        .eliminar-btn {
            background-color: #ff0000; /* Rojo */
            color: white;
        }

        .editar-btn {
            background-color: #ffc107; /* Amarillo */
            color: black;
        }
    </style>
    <script>
        function confirmarEliminar(id) {
            var confirmacion = confirm("¿Estás seguro de que quieres eliminar a este doctor?");
            if (confirmacion) {
                window.location.href = "/eliminar_doctor/" + id;
            }
        }
    </script>
</head>
<body>
    <h1>Listado de Doctores</h1>
    {% if doctores %}
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre Completo</th>
                <th>Número de Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Especialidad</th>
                <th>Acciones</th>
            </tr>
            {% for doctor in doctores %}
            <tr>
                <td>{{ doctor.id }}</td>
                <td>{{ doctor.fullname }}</td>
                <td>{{ doctor.phone }}</td>
                <td>{{ doctor.email }}</td>
                <td>{{ doctor.especialidad }}</td>
                <td>
                    <a href="javascript:void(0);" onclick="confirmarEliminar('{{ doctor.id }}')" class="btn eliminar-btn">Eliminar</a>
                    <a href="{{ url_for('editar_doctor', id=doctor.id) }}" class="btn editar-btn">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="message">No se ha registrado ningún doctor.</p>
    {% endif %}

    <a href="{{ url_for('index') }}" class="btn regresar-btn">Regresar</a>
</body>
</html>
